/**** FOND DE PAGE*****/

#root > div:nth-child(1) {
  width: 100%;
}
.eventFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-image: url("../../assets/images/fille.jpg");
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: 150%;
}

/* ****     COMPOSANT CREATIONEVENEMENT   ******* */

#creationEvenement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: #6fceb4;
  color: var(--color_light);
  min-width: 50%;
  margin: 3rem;
}

#creationEvenement h1 {
  font-family: var(--font-big-text);
  font-size: 1.7rem;
  color: #232323;
  text-align: center;
  padding: 1rem;
}

p.codeEvenement {
  color: black;
  margin-bottom: 20px;
  font-weight: 700;
  font-family: var(--font-titre_small-text);
}

#creationEvenement label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
}

#creationEvenement input,
#creationEvenement textarea,
#creationEvenement select {
  width: 20rem;
  height: 1.8rem;
  border: none;
  border-radius: 3px;
  text-align: center;
}

#creationEvenement button {
  margin: 0.5rem auto;
  width: 15rem;
}
#creationEvenement button:hover {
  background-color: var(--color_light);
  border-color: var(--color_light);
  color: black;
}

#creationEvenement label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

#creationEvenement .notConnected {
  background-color: var(--color_5);
}

/* *********     COMPOSANT CADEAU   ************** */
#gift-container div.cadeau {
  width: fit-content;
  border-radius: 5px 50px / 50px 15px;
  background-color: var(--color_1);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.liste {
  min-width: 23rem;
  border-radius: 5px 50px / 50px 15px;
  background-color: var(--color_2);
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#gift-container ul {
  margin: 0;
  padding: 0;
}

#gift-container li {
  list-style-type: none;
  padding: 0.2rem;
}

#gift-container a {
  font-size: 1.2rem;
  color: var(--color_dark);
}
#gift-container h1 {
  color: var(--color_1);
  font-family: var(--font-titre_small-text);
}
#gift-container h3 {
  text-align: center;
  color: var(--color_4);
  font-size: 1.2rem;
  font-family: var(--font-titre_small-text);
  padding: 2rem;
}

#gift-container .liste:hover {
  background-color: var(--color_1);
  color: var(--color_dark);
  cursor: pointer;
}

div.cadeau .liste-cadeau {
  background-color: var(--color_4);
}

#creationEvenement div.cadeau > div.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#gift-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#gift-container .remove {
  border: none;
  background: none;
}

#btn-createCard {
  min-height: 4rem;
  min-width: 20rem;
}

@media screen and (max-width: 800px) {
  #creationEvenement {
    min-width: fit-content;
  }
}
