#creationEvenement {
  display: flex;
  flex-direction: column;
  width: 500px;
}

div.line {
  display: flex;
  flex-direction: row;
}

label {
  width: 500px;
  margin-top: 15px;
}

input,
textarea,
select {
  width: 275px;
  height: 22px;
  float: right;
}
select {
  padding: 3px;
  height: 30px;
}

button[type="submit"],
button[type="button"] {
  margin: 20px auto;
  padding: 10px 10px;
  width: 300px;
}

div.cadeau {
  width: 100%;
  height: 100px;
  border: 1px solid rgb(149, 218, 159);
  background-color: rgb(149, 218, 159);
  margin: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
}

div.cadeau > div.image {
  width: 150px;
  height: 150px;
  background-image: url("https://picsum.photos/200");
  margin: 5px;
  background-size: cover;
  border-radius: 2px;
  overflow: hidden;
}

div.cadeau > div.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

div.cadeau input {
  margin-top: 10px;
}

div.cadeau .remove {
  width: 30px;
  margin: auto 5px;
}

span.title {
  text-align: center;
  margin: 25px auto 5px auto;
  font-size: 20px;
}
