.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  position: absolute;
  right: 10%;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
  justify-content: center;
  height: 10.25rem;
}
.buttonStyleLogin {
  margin-right: 2.5%;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.formContainer {
  width: 75vw;
  height: 75vh;
  background-color: var(--color_3);
  position: absolute;
  top: 0;
  right: 2vw;
  bottom: 0;
  margin: auto;
  margin-top: 10.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  animation: newShowScreen 1s;
  z-index: 100;
}

.exitFormContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2rem;
  height: 2rem;
  margin: 1rem;
  background-color: var(--color_light);
  border: 0;
  border-radius: 5px;
  color: var(--color_3);
}

.exitFormContainer:hover {
  background-color: var(--color_3);
  color: var(--color_light);
  border: 2px solid var(--color_light);
  cursor: pointer;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--color_light);
  text-align: center;
}
.form p {
  margin-bottom: 1rem;
}

@keyframes newShowScreen {
  from {
    opacity: 0;
  }

  to {
    opacity: 100;
  }
}
.form label {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.inputForm {
  margin-top: 0.5rem;
}
.inputForm:valid,
.inputForm:invalid {
  background-color: var(--color_light);
  border: 0;
  border-radius: 5px;
  margin-bottom: 0.8rem;
  color: var(--color_dark);
  padding: 0.2rem;
  text-align: center;
}
.inputForm:invalid {
  border: 1px solid var(--color_5);
  color: var(--color_5);
}

.inputForm:hover {
  opacity: 50%;
  position: relative;
}

.inputForm:focus {
  outline: none;
  border: 1px solid var(--color_3);
  opacity: 55%;
}
.detailsInput {
  display: none;
}
.inputForm:invalid ~ .detailsInput {
  padding: 0.5rem;
  display: block;
  background: var(--color_2);
  width: 30%;
  margin-top: 20rem;
  position: absolute;
  text-decoration: none;
  color: var(--color_1);
  font-size: 0.8rem;
  border-radius: 5px;
}

.errorLogin {
  display: none;
}
.errorLogin {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--color_2);
  width: 50%;
  height: 10%;
  margin-top: 22rem;
  position: absolute;
  text-decoration: none;
  color: var(--color_1);
  font-size: 0.8rem;
  border-radius: 5px;
}
.forget {
  font-size: 0.7rem;
  color: var(--color_light);
}
.submitForm {
  background-color: var(--color_3);
  border: 0;
  border-radius: 5px;
  width: 5rem;
  margin-top: 1rem;
  color: var(--color_light);
  border: 1px solid var(--color_light);
}

.submitForm:hover {
  background-color: var(--color_light);
  color: var(--color_3);
  border: 1px solid var(--color_3);
}
.styleLogo {
  font-family: var(--font-logo);
  margin: 0.2rem;
}
@media screen and (max-width: 980px) {
  .loginContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    position: initial;
    width: 100%;
  }

  .buttonStyle {
    width: clamp(9rem, 1rem, 1rem);
    height: clamp(2rem, 2.5rem, 3rem);
    border: 2px solid var(--color_ligh);
    border-radius: 5px;
    background-color: var(--color_3);
    color: var(--color_light);
    transition: var(--transition);
    font-size: 0.8rem;
  }
  .buttonContainer {
    display: flex;
    flex-direction: row;
    align-items: initial;
    width: 100%;
    justify-content: center;
    height: 3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}
#MyEvents {
  color: var(--color_light);
}
#MyEvents .eventSection1 {
  width: 65%;
  height: 80%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  padding-top: 2%;
  padding-bottom: 2%;
  overflow: scroll;
}
#MyEvents .eventSection1 .eventSection1Title {
  padding-left: 5%;
  padding-bottom: 3%;
  color: var(--color_2);
}
#MyEvents .eventSection1Titles {
  display: flex;
  flex-direction: row;
  padding-bottom: 2%;
}
#MyEvents .eventSection1Titles h1 {
  flex: 1;
  text-align: center;
  color: var(--color_4);
}
#MyEvents .eventSection1Results {
  display: flex;
  flex-direction: row;
  padding-bottom: 0.5%;
}
#MyEvents .eventSection1Results h1 {
  flex: 1;
  text-align: center;
  font-size: 1.5rem;
  font-family: var(--font-big-text);
  font-weight: bold;
}
#MyEvents .eventSection1Results .eventStatusEnCours {
  color: var(--color_5);
}
#MyEvents .eventSection1Results .eventStatusTerminé {
  color: var(--color_1);
}
#MyEvents .eventSection2 {
  width: 30%;
  height: 80%;
  margin-right: 2.5%;
  background-color: cornflowerblue;
}
