.form-change-password-email {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 5rem auto;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 0.5rem 1rem 2rem 1rem;
  border-radius: 5px;
}

.form-change-password-email > * {
  margin-top: 1rem;
  width: 100%;
}

.form-change-password-email input {
  margin-top: 1rem;
}

.form-change-password-email button {
  margin: 1rem auto;
}

.form-change-password-email label {
  font-weight: 700;
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.form-change-password-email p.message.red {
  font-size: 0.8rem;
  color: red;
  text-align: center;
  margin: 0.5rem auto;
}

.form-change-password-email p.descriptif {
  font-size: 0.8rem;
  text-align: center;
  margin: 0.5rem auto;
}

.form-change-password-email p.confirmation {
  font-size: 1.2rem;
  text-align: center;
  margin: 0.5rem auto;
}
