#containerPage404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
#containerPage404 h1{
  color: var(--color_2);
  font-size: 10rem;
}
#containerPage404 h2  {
  color: var(--color_3);
  font-size: 5rem;
}