#contactContainer {
  display: flex;
  height: 100vh;
  flex-direction: column;
}
#contactContainer  form {
  background-color: var(--color_3);
  padding: 4rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#contactContainer  input, #contactContainer 
textarea {
  align-self: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
#contactContainer textarea {
  height: 15vh;
  resize: none;
  vertical-align: top;
}
