#contactContainer {
  display: flex;
  height: 100vh;

  flex-direction: column;
  margin-top: 3rem;
}

#contactContainer form {
  background-color: var(--color_4);
  padding: 4rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#contactContainer label {
  display: flex;
  flex-direction: column;
}
#contactContainer input,
textarea {
  padding: 0.3rem;
  border-radius: 0.3rem;
}
#contactContainer textarea {
  height: 15vh;
  vertical-align: top;
}
.btn-contact {
  background-color: var(--color_1);
  color: black;
  border: transparent;
}

.btn-contact:hover {
  border: 3px solid var(--color_1);
  background-color: transparent;
  color: var(--color_1);
}
