.navAndContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color_light);
}
.openToogle{
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0 0.7rem;
  background-color: var(--color_2);
  color: var(--color_light);
  margin: 1.5rem 0 2.25rem 0;
}
.navContainerOff{
  display: none;
}
.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 5rem;
}
.navContainer > ul:nth-child(1) {
  padding-left: 0rem;
}

.navContainer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  list-style: none;
  border-top: 0.2rem solid var(--color_1);
  border-bottom: 0.2rem solid var(--color_1);
}
.navLinkOn {
  background-color: transparent;
  border: 0;
  color: var(--color_2);
}
.navLinkOn:hover,
.navLinkOff:hover {
  color: var(--color_2);
  cursor: pointer;
}
.navLinkOff {
  background-color: transparent;
  border: 0;
  color: var(--color_dark);
}
.navLinkOn > h2:nth-child(n) {
  margin-bottom: 0;
  font-size: 1rem;
}
.navLinkOff > h2:nth-child(n) {
  margin-bottom: 0;
  font-size: 1rem;
}

@media screen and (max-width: 980px) {
  .navLinkOff > h2 {
    font-size: 1rem;
  }
  .navLinkOn > h2 {
    font-size: 1rem;
  }
  .navContainer {
    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: space-around;
    width: 100%;
    height: 7rem;
  }
  .navContainer ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 100%;
    list-style: none;
    border-top: 0.2rem solid var(--color_1);
    border-bottom: 0.2rem solid var(--color_1);
  }
}

.openedJeCreeContainer {
  display: flex;
  flex-direction: row;
}
.openedJeCree .open {
  margin: 0.5rem 0rem 0.5rem 2rem;
}
.openedJeCree {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 14.7rem;
  margin-left: 3.5rem;
}
.hidden {
  display: none;
}
