.navAndContain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--color_light);
}
.openToogle {
  border: solid 2px var(--color_2);
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 900;
  padding: 0 0.7rem;
  background-color: var(--color_2);
  color: var(--color_light);
  margin: 1.5rem 0 1rem 0;
}
.openToogle:hover {
  background-color: var(--color_light);
  color: var(--color_2);
  border: solid 2px var(--color_2);
}
.navContainerOff {
  display: none;
}
.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  min-height: 5rem;
}
.navContainer > ul:nth-child(1) {
  padding-left: 0rem;
}

.navContainer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  list-style: none;
  border-top: 0.2rem solid var(--color_1);
  border-bottom: 0.2rem solid var(--color_1);
}
.navLinkOn {
  background-color: transparent;
  border: 0;
  color: var(--color_2);
}
.navLinkOn:hover,
.navLinkOff:hover {
  color: var(--color_2);
  cursor: pointer;
}
.navLinkOff {
  background-color: transparent;
  border: 0;
  color: var(--color_dark);
}
.navLinkOn > h2:nth-child(n) {
  margin-bottom: 0;
  font-size: 1rem;
}
.navLinkOff > h2:nth-child(n) {
  margin-bottom: 0;
  font-size: 1rem;
}

.openedJeCreeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.openedJeCree .open {
  margin: 1rem 0rem 0rem 0rem;
}
.openedJeCree {
  display: flex;
  flex-direction: column;
  position: relative;
}
.open {
  text-align: center;
  width: 100%;
  color: var(--color_3);
}
.hidden {
  display: none;
}

@media screen and (max-width: 750px) {
  .navContainer {
    height: 30rem;
    align-items: center;
    justify-content: center;
  }
  .navContainer ul {
    padding: 3rem 0;
    flex-direction: column;
  }
  .openedJeCree .open {
    margin: 0;
  }
  .openedJeCree {
    position: relative;
    top: 0;
    margin-left: 0;
  }
  .openedJeCreeContainer {
    flex-direction: column;
  }
  .show {
    text-align: center;
    margin: 2rem 0 1rem 0;
  }
}
