.acceuilContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 0.9fr 1.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "CCM creation article2"
    "CCM rejoindre article1"
    "Philan atelier news";
  height: 100rem;
  width: 90%;
  margin-top: 3rem;
}

.CCM {
  grid-area: CCM;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0% 70% 50%;
  background-image: url("../../assets/images/animaux1.jpg");
}

.Philan {
  grid-area: Philan;
  background-image: url("../../assets/images/enfant.png");
  background-size: cover;
  background-position: 60% 50%;
  background-repeat: no-repeat;
  height: 60%;
}

.creation {
  grid-area: creation;
  background-color: rgb(90, 148, 210);
  background-image: url("../../assets/images/animaux1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.rejoindre {
  grid-area: rejoindre;
  background-image: url("../../assets/images/ZEBRE.jpg");
  background-size: cover;
  background-position: 90% 70%;
  background-repeat: no-repeat;
}

.atelier {
  grid-area: atelier;
  background-color: rgb(255, 226, 0);
  height: 60%;
}

.news {
  grid-area: news;
  background-color: rgb(231, 235, 234);
  height: 60%;
}

.article1 {
  grid-area: article1;
  background-color: rgb(236, 95, 93);
}

.article2 {
  grid-area: article2;
  background-color: rgb(255, 51, 51);
}

.acceuilContainer > div > h2 {
  text-align: center;
  font-family: aloja;
  /* margin-top: 1rem; */
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #f4f5f9c2;
}
.Philan > a:nth-child(1) > h2:nth-child(1) {
  text-align: center;
  font-family: aloja;
  /* margin-top: 1rem; */
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #f4f5f9c2;
}
.creation > a:nth-child(1) > h2:nth-child(1) {
  text-align: center;
  font-family: aloja;
  /* margin-top: 1rem; */
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #f4f5f9c2;
}
.atelier > a:nth-child(1) > h2:nth-child(1) {
  text-align: center;
  font-family: aloja;
  /* margin-top: 1rem; */
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #f4f5f9c2;
}
.article1 > h2:nth-child(1) {
  text-align: center;
  font-family: aloja;
  /* margin-top: 1rem; */
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #f4f5f9c2;
}
.article2 > h2:nth-child(1) {
  text-align: center;
  font-family: aloja;
  /* margin-top: 2rem; */
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #f4f5f9c2;
}
div.acceuilContainer > div > p:nth-child(n) {
  width: 98%;
  margin: 10px;
  height: 98%;
}
div.acceuilContainer > div:nth-child(1) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(2) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(3) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(4) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(5) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(6) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(8) {
  border: 3px solid;
  border-radius: 7px;
}

.article1 > p:nth-child(n) {
  width: 98%;
  margin: 10px;
  height: 98%;
}
.article2 > p:nth-child(n) {
  width: 98%;
  margin: 10px;
  height: 98%;
}

#newsletter > div:nth-child(2) > p:nth-child(1) {
  width: 98%;
  margin: 10px;
}
#newsletter {
  margin: 10px;
  border-radius: 5px;
}
.acceuilContainer > div {
  margin: 5px;
}
.news {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.prenomMail {
  display: flex;
  flex-direction: wrap;
}
.article1 {
  margin-bottom: 3px;
}
.article2 {
  margin-top: 3px;
}
.confianceFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.confiance {
  grid-area: blog;
  background-color: var(--color_1);
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 90%;
  border: 3px solid;
  border-radius: 7px;
}
.divTitre > h2 {
  text-align: center;
  font-family: aloja;
  margin: 2rem;
}
.confiance > div > p {
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}
.cerclePartenaire {
  height: 5rem;
  width: 5rem;
  background-image: url(../../assets/images/enfant.png);
  background-size: cover;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 50%;
  margin: 1rem;
}
.globalCercle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 4rem;
}
.cartePablo {
  width: 53%;
  transform: rotate(25deg);
  margin: 5rem;
  transition: transform 2s;
}
.cartePablo:hover {
  margin-left: 15%;
  transform: rotate(320deg);
}

/***********************************************************media query**********************/

@media screen and (max-width: 980px) {
  .cartePablo {
    width: 53%;
    transform: rotate(25deg);
    margin: 5rem;
    transition: transform 2s;
  }
  .acceuilContainer {
    display: flex;
    flex-direction: column;
  }
  .acceuilContainer > div {
    height: 30%;
  }
  .cerclePartenaire {
    height: 5rem;
    width: 5rem;
    background-image: url(../../assets/images/enfant.png);
    background-size: cover;
    border: 2px solid rgba(0, 0, 0, 1);
    border-radius: 50%;
    margin: 1rem;
  }
  .globalCercle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    width: 90%;
  }
}
