.acceuilContainer {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.9fr 0.9fr 1.1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "CCM creation article2"
    "CCM rejoindre article1"
    "Philan atelier news"; */
  /* height: 100rem; */
  width: 90%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  height: max-content;
}
.acceuilContainer > div > div {
  margin: 0.5rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.acceuilContainer > div > h2 {
  text-align: center;
  font-family: aloja;
  /* margin-top: 1rem; */
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #f4f5f9c2;
  padding: 2rem;
}
.ccmPink {
  color: var(--color_2);
}
.titleAloja {
  text-align: center;
  font-family: aloja;
  /* margin-top: 1rem; */
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
  background-color: #f4f5f9c2;
  padding: 1rem;
}

/*ligne 1*/
.homeLigne1 {
  display: flex;
  width: 100%;
}
.CCM {
  /* grid-area: CCM; */
  background-size: cover;
  background-repeat: no-repeat;

  background-image: url("../../assets/images/animaux1.jpg");
  width: 66%;
  display: flex;
  justify-content: center;
}
.whiteContainer {
  background-color: #f4f5f9f1;
  width: 100%;
  margin: 2rem;
  padding: 1rem;
  color: rgb(52 72 122);
  font-size: 1.2rem;
  font-weight: bold;
}
.blog {
  width: 33%;
  /* background-image: url("../../assets/images/lapin-chapeau.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 70%;
  background-color: var(--color_4);
}
/****fin ligne 1*****/
/*...............ligne 2...........*/
.homeLigne2 {
  display: flex;
  width: 100%;
}
.creation {
  /* grid-area: creation; */
  background-color: #eb4b4b;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 33%;
}
.rejoindre {
  /* grid-area: rejoindre; */
  background-image: url("../../assets/images/zebre.jpg");
  background-size: cover;
  background-position: 90% 70%;
  background-repeat: no-repeat;
  width: 33%;
}
.article1 {
  /* grid-area: article1; */
  background-color: rgb(236, 95, 93);
  width: 33%;
}
.newVignette {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.newArticle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newImage {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.newTitle {
  color: var(--color_dark);
  margin-top: 1.5rem;
  margin-bottom: 1.8rem;
  text-align: center;
  font-size: 1.4rem;
}
.newArticle {
  color: var(--color_dark);
}
.newDescript {
  color: var(--color_dark);
  font-weight: bold;
}
.article1 {
  position: relative;
}

/****fin ligne 2****/
/*...............ligne 3...........*/
.homeLigne3 {
  display: flex;
  width: 100%;
  /* height: 50rem; */
}
.Philan {
  /* grid-area: Philan; */
  background-image: url("../../assets/images/fille.jpg");
  background-size: cover;
  background-position: 10% 0%;
  background-repeat: no-repeat;
  height: 100%;
  width: 33%;
}
.Philan > a > h3 {
  margin-bottom: rem;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Philan > a {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.atelier > a {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 100%;
}
.atelier {
  /* grid-area: atelier; */
  background-color: rgb(0, 180, 175);
  height: 100%;
  width: 33%;
  background-image: url("../../assets/images/tigre-font-vert.jpg");
  background-size: cover;
  background-position: 60% 50%;
  background-repeat: no-repeat;
}
.atelier > a > h3 {
  margin-bottom: rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.news {
  /* grid-area: news; */
  background-color: rgb(231, 235, 234);
  height: 60%;
  width: 33%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
}
.news > form {
  display: flex;
  align-items: center;
  background-color: rgb(248, 192, 0);
}
.prenomMail {
  display: flex;
  flex-direction: wrap;
}
/****fin ligne 3*****/

.news {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 100%;
  background-color: rgb(248, 192, 0);
  height: 100%;
}
.prenomMail {
  display: flex;
  flex-direction: wrap;
}

.confianceFlex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: max-content;
  margin: 8rem 3rem 8rem 3rem;
}
.confiance {
  background-color: var(--color_4);
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 90%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.divTitre > h2 {
  text-align: center;
  font-family: aloja;
  margin: 2rem;
}
.confiance > div > p {
  text-align: center;
  padding: 2rem;
  font-weight: bold;
}

.cerclePartenaire1 {
  height: 5rem;
  width: 5rem;
  background-image: url(../../assets/images/empowher.jpg);
  background-size: cover;
  /* border: 1px solid rgba(0, 0, 0, 1); */
  border-radius: 50%;
  margin: 1rem;
}
.cerclePartenaire2 {
  height: 5rem;
  width: 5rem;
  background-image: url(../../assets/images/latitudes.jpg);
  background-size: cover;
  /* border: 2px solid rgba(0, 0, 0, 1); */
  border-radius: 50%;
  margin: 1rem;
}
.cerclePartenaire3 {
  height: 5rem;
  width: 5rem;
  background-image: url(../../assets/images/logo-lyon-startup.jpg);
  background-size: cover;
  /* border: 2px solid rgba(0, 0, 0, 1); */
  border-radius: 50%;
  margin: 1rem;
}
.cerclePartenaire4 {
  height: 5rem;
  width: 5rem;
  background-image: url(../../assets/images/makesense.jpg);
  background-size: cover;
  /* border: 2px solid rgba(0, 0, 0, 1); */
  border-radius: 50%;
  margin: 1rem;
}
.cerclePartenaire5 {
  height: 5rem;
  width: 5rem;
  background-image: url(../../assets/images/wild-code-school.jpg);
  background-size: cover;
  /* border: 2px solid rgba(0, 0, 0, 1); */
  border-radius: 50%;
  margin: 1rem;
}
.cerclePartenaire6 {
  height: 5rem;
  width: 5rem;
  background-image: url(../../assets/images/madcats.jpg);
  background-size: cover;
  /* border: 2px solid rgba(0, 0, 0, 1); */
  border-radius: 50%;
  margin: 1rem;
}
.cerclePartenaire7 {
  height: 5rem;
  width: 5rem;
  background-image: url(../../assets/images/RecycLivre.jpg);
  background-size: cover;
  /* border: 2px solid rgba(0, 0, 0, 1); */
  border-radius: 50%;
  margin: 1rem;
}
.cerclePartenaire8 {
  height: 5rem;
  width: 5rem;
  background-image: url(../../assets/images/anciela.jpg);
  background-size: cover;
  /* border: 2px solid rgba(0, 0, 0, 1); */
  border-radius: 50%;
  margin: 1rem;
}
.gloLien {
  text-align: center;
  color: var(--color_light);
}
.gloLien > p {
  text-decoration: none;
  list-style: none;
  font-size: 0.9rem;
}

.globalCercle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0rem 3rem 0rem;
}

.globalCercle > a {
  margin: 1rem;
}

.postGif {
  width: 30%;
  transform: rotate(25deg);
  position: absolute;
  right: 0;
}

.blogGif {
  margin: 3rem;
  width: 80%;
  transform: rotate(5deg);
}
/***********************************************************media query**********************/

@media screen and (max-width: 980px) {
  .cartePablo {
    width: 53%;
    transform: rotate(25deg);
    margin: 5rem;
    transition: transform 2s;
  }
  .acceuilContainer {
    display: flex;
    flex-direction: column;
  }
  .acceuilContainer > div > div {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
  }
  .homeLigne1 {
    display: flex;
    flex-direction: column;
  }
  .homeLigne2 {
    display: flex;
    flex-direction: column;
  }
  .homeLigne3 {
    display: flex;
    flex-direction: column;
  }
  .Philan {
    height: 25rem;
  }
  .atelier {
    height: 25rem;
  }
  .news {
    height: 25rem;
  }
  .cerclePartenaire1 {
    height: 5rem;
    width: 5rem;
    background-image: url(../../assets/images/empowher.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 1rem;
  }
  .cerclePartenaire2 {
    height: 5rem;
    width: 5rem;
    background-image: url(../../assets/images/latitudes.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 1rem;
  }
  .cerclePartenaire3 {
    height: 5rem;
    width: 5rem;
    background-image: url(../../assets/images/logo-lyon-startup.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 1rem;
  }
  .cerclePartenaire4 {
    height: 5rem;
    width: 5rem;
    background-image: url(../../assets/images/makesense.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 1rem;
  }
  .cerclePartenaire5 {
    height: 5rem;
    width: 5rem;
    background-image: url(../../assets/images/wild-code-school.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 1rem;
  }
  .cerclePartenaire6 {
    height: 5rem;
    width: 5rem;
    background-image: url(../../assets/images/madcats.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 1rem;
  }
  .cerclePartenaire7 {
    height: 5rem;
    width: 5rem;
    background-image: url(../../assets/images/RecycLivre.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 1rem;
  }
  .cerclePartenaire8 {
    height: 5rem;
    width: 5rem;
    background-image: url(../../assets/images/anciela.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 1rem;
  }

  .globalCercle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1rem;
    width: 90%;
  }
  .atelier {
    height: 19rem;
  }
  .confiance > div > p {
    text-align: center;
    margin: 0.5rem;
    padding: 1rem;
    font-weight: bold;
  }
  .confianceFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: max-content;
    margin: 3rem 0rem 3rem 0rem;
  }
}
