.acceuilContainer {
  display: grid;
  grid-template-columns: 1.2fr 0.6fr 1.2fr;
  grid-template-rows: 0.8fr 1.3fr 0.9fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "CCM creation blog"
    "CCM rejoindre article"
    "Philan atelier news";
  height: 70rem;
  margin-bottom: 4rem;
}

.CCM {
  grid-area: CCM;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/fille.jpg");
}

.Philan {
  grid-area: Philan;
  background-image: url("../../assets/images/enfant.png");
  background-size: cover;
}

.creation {
  grid-area: creation;
  background-color: rgb(90, 148, 210);
}

.rejoindre {
  grid-area: rejoindre;
  background-image: url("../../assets/images/ZEBRE.jpg");
  background-size: cover;
  background-position: 50% -10%;
}

.atelier {
  grid-area: atelier;
  background-color: rgb(255, 226, 0);
}

.blog {
  grid-area: blog;
  background-color: var(--color_1);
}

.news {
  grid-area: news;
  background-color: rgb(231, 235, 234);
}

.article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "article1"
    "article2";
  grid-area: article;
}

.article1 {
  grid-area: article1;
  background-color: rgb(236, 95, 93);
}

.article2 {
  grid-area: article2;
  background-color: rgb(255, 51, 51);
}
.article {
  border: 0px;
}
.acceuilContainer > div > h2 {
  text-align: center;
  font-family: aloja;
  margin-top: 1rem;
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
}
.creation > a:nth-child(1) > h2:nth-child(1) {
  text-align: center;
  font-family: aloja;
  margin-top: 1rem;
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
}
.article1 > h2:nth-child(1) {
  text-align: center;
  font-family: aloja;
  margin-top: 1rem;
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
}
.article2 > h2:nth-child(1) {
  text-align: center;
  font-family: aloja;
  margin-top: 2rem;
  font-weight: initial;
  text-decoration: none;
  list-style: none;
  color: black;
}
div.acceuilContainer > div > p:nth-child(n) {
  width: 98%;
  margin: 10px;
  height: 98%;
}
div.acceuilContainer > div:nth-child(1) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(2) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(3) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(4) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(5) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(6) {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div > div {
  border: 3px solid;
  border-radius: 7px;
}
div.acceuilContainer > div:nth-child(8) {
  border: 3px solid;
  border-radius: 7px;
}

.article1 > p:nth-child(n) {
  width: 98%;
  margin: 10px;
  height: 98%;
}
.article2 > p:nth-child(n) {
  width: 98%;
  margin: 10px;
  height: 98%;
}

#newsletter > div:nth-child(2) > p:nth-child(1) {
  width: 98%;
  margin: 10px;
}
#newsletter {
  margin: 10px;
  border-radius: 5px;
}
.acceuilContainer > div {
  margin: 5px;
}
.news {
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.prenomMail {
  display: flex;
  flex-direction: wrap;
}
.article1 {
  margin-bottom: 3px;
}
.article2 {
  margin-top: 3px;
}
