#container-conditions {
  padding: 5rem;
}
#container-conditions h2 {
  margin-bottom: 2rem;
}
#container-conditions h4 {
  margin-bottom: 0.5rem;
}
#container-conditions p {
  margin-bottom: 2.5rem;
}
