.give-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1915px;
  height: 5rem;
  border-top: 0.5rem solid var(--color_1);
  border-bottom: 0.5rem solid var(--color_1);
  
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 1915px;
  height: 100%;
  color: var(--color_dark);
  font-family: var(--font-titre_small-text);
  padding: 1rem;
}
