.give-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 5rem;
  border-top: 0.5rem solid var(--color_1);
  border-bottom: 0.5rem solid var(--color_1);
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 100%;
}
