.App {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  background-color: var(--color_light);
  margin-top: 2rem;
  border-radius: 25px;
}

.containerContainWebsite {
  margin-top: 2rem;
  width: 94%;
}

@media screen and (max-width: 750px) {
  .containerContainWebsite {
    margin-top: 1rem;
    width: 100%;
  }
}
