.globalBlog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.photoArticle {
  width: 100%;
}
.vignetteBlog {
  width: 25%;
  margin: 3.5rem;
  background-color: var(--color_light);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.vignetteBlog button {
  border: 0;
  background-color: transparent;
  text-align: left;
}
.globalBlog {
  background-image: url("../../assets/images/enfant2.jpg");
  background-size: 30%;
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
}

.vignetteBlog > h3 {
  padding: 0rem 1rem;
  font-size: 1em;
}
.vignetteBlog > p {
  padding: 0rem 1rem;
}
.vignetteBlog > img {
  border-radius: 10px 10px 0px 0px;
}
.vignetteBlogTitre {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem;
  width: 25%;
}
.vignetteBlogTitre > h1 {
  font-family: aloja;
  z-index: 2;
  margin-top: 3rem;
}
.vignetteBlogTitre > img {
  width: 20%;
  transform: rotate(25deg);
  position: absolute;
  z-index: 0;
  opacity: 0.2;
}
.vignetteBlogTitre > p {
  font-size: 1.3rem;
  z-index: 2;
  font-weight: bold;
  margin-top: 2rem;
}
.titreBlog {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 3rem;
}
.searchTag {
  display: flex;
  margin-left: 3rem;
  margin-right: 1rem;
  margin-top: 3rem;
}
.searchTag > h3 {
  margin-right: 1rem;
}
.titreArticle {
  margin: 2rem;
  text-decoration: none;
  color: var(--color_dark);
}
.titreDate {
  margin: 2rem;
  text-decoration: none;
  color: var(--color_dark);
}
.titreText {
  margin: 2rem;
  text-decoration: none;
  color: var(--color_dark);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
.gloArticle {
  margin: 6rem;
}
.BlocPhotoArticle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.PhotoPrincipal {
  width: 50%;
}
.titreAndDate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}
.ButtonArticle {
  display: flex;
  justify-content: center;
  margin: 5rem;
}
.detailText {
  text-align: center;
  width: 70%;
}
.articleDetail {
  width: 100%;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 980px) {
  .globalBlog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
  }
  .titreBlog {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem 0rem 1rem 0rem;
  }
  .searchTag {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem 1rem 0rem;
  }
  .searchTag > select {
    width: 15rem;
    text-align: center;
  }
  select.buttonStyle > option:nth-child(n) {
    font-size: 0.8rem;
  }
  .searchTag > h3 {
    margin-right: 0rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .vignetteBlogTitre {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
    width: 80%;
  }
  .vignetteBlog {
    width: 80%;
    margin: 3.5rem;
    background-color: var(--color_light);
  }
  .vignetteBlogTitre > p:nth-child(3) {
    text-align: center;
  }
  div.vignetteBlog:nth-child(5) {
    margin-bottom: 15rem;
  }
  .globalBlog {
    background-image: url("../../assets/images/enfant2.jpg");
    background-size: 50%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
  }
  .PhotoPrincipal {
    width: 100%;
  }
}
